<div class="container-fluid">

<div class="masthead">
      <h3 class="text-muted">Your Week at GA</h3>   

</div>


<h1><%= @user.name %> </h1><br> 
<%= @user.username %> <br>
<%= @user.email %> <br>

<%= image_tag(@user.image) %>




