<div class="container-fluid">

<div class="masthead">
      <h3 class="text-muted">Your Week at GA</h3>   

</div>

<%= @user.name %>
<%= @user.username %>
<%= @user.email %>
<%= @user.image %>


<% end %>

</div>